.hot-coin{
    display: flex;
    flex-wrap: wrap;

    .change{
        direction: ltr;
    }
    .negative{
        color: red;
    }
    .positive{
        color: green;
    }    
    .change, .name{
        padding: 5px;
    }
}