@import '../../styles.scss';

.wrapper{
    display: flex;
    flex-direction: column;
    height: 80vh;
    .header{
        width: 100%;
        height: 25px;
    }
    .all-cointainer{
        flex: 1;
        overflow: auto;
        .coin{
            img{
                cursor: pointer;
                margin: 10px;
            }
        }
    }
    .footer{
        height: 2px;
    }
}

@media (min-width: 1281px) {
    @import 'desktop';
}
@media (min-width: 1025px) and (max-width: 1280px) {
    @import 'desktop';
}
@media (min-width: 768px) and (max-width: 1024px) {
    // @import 'desktop';
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    @import 'mobile';
}
@media (min-width: 481px) and (max-width: 767px) {
    @import 'mobile';
}
@media (min-width: 320px) and (max-width: 480px) {
    @import 'mobile';
}