.meta{
    ul{
        margin-bottom: 0;
        margin-top: 10px;
        padding-right: 25px;
        li{
            text-align: right;
            display: flex;
            .field{
                width: 100px;
            }
            .value{
                border-left: none;
            }
        }
    }
}