@import '../../styles.scss';

.meta{
    padding-top: 10px;
    width: 100%;

    span {
        padding: 5px;
    }
    .field{
        color: #444;
        font-size: 14px;
    }
    .value{
        font-size: 16px;
        border-left: 1px solid $app-color;
        &.last{
            border-left: none;
        }
    }
}