@import '../../styles.scss';

.meta{
    width: 100%;
    ul{
        li {
            list-style: none;
            padding: 5px;
            display: inline;
            .field{
                color: #444;
                font-size: 14px;
            }
            .value{
                font-size: 16px;
                border-left: 1px solid $app-color;
                padding-left: 5px;
                &.last{
                    border-left: none;
                }
            }            
        }
    }
}