.header{
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
    direction: rtl;
    background-color: #425bc9;
    font-family: "Impact, Charcoal, sans-serif";
}

.header .logo {
    text-align: center;
    width: 15%;
    cursor: pointer;
}

.header .navigation {
    width: 70%;
}

.header .navigation span{
    padding: 15px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
}

.header .navigation span:hover{
    background-color: purple;
}

.header .account {
    width: 15%;
}