body{
    direction: rtl;
    color: #425bc9;
}

h1{
    text-align: center;
}

.header{
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
    background-color: #425bc9;
    font-family: "Impact, Charcoal, sans-serif";
}

.header .logo {
    width: 15%;
    cursor: pointer;
}

.header .navigation {
    width: 70%;
}

.header .navigation span{
    padding: 5px;
    cursor: pointer;
    /* border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px; */
    font-size: 12px;
    min-width: 100px;
    display: inline-block;
}

.header span:hover{
    /* 
    background-color: white;
    color: #425bc9; 
    border-bottom: 3px solid white;
    */
    font-weight: bold;
}

.header .account {
    cursor: pointer;
    width: 15%;
}

.header .account span{
    position: relative;
    top: -5px;
}

.page-section{
    border-top: 2px solid #425bc9;
    display: flex;
}

.page-section .action{
    width: 85%;
}

.page-section .action a{
    text-decoration: none;
    font-weight: bold;
}

.page-section .search{
    align-items: center;
    display: flex;
    width: 15%;
}

.page-section .search input{
    height: 25px;
    border-radius: 3px;
}

.page-section .search button{
    background-color: #425bc9;
    color: white;
    cursor: pointer;
}