@import '../../styles.scss';

.search{
    padding: 15px;

    input{
        height: 18px;
        border-radius: 3px;
        padding: 5px;
    }

    button{
        background-color: $app-color;
        color: white;
        cursor: pointer;
        position: relative;
        top: 6px;
        i {
            position: relative;
            top: 3px;
        }
    }
}