.section{
    &.top-section{
        search-bar{
            position: absolute;
            left: 15px;
            margin-top: 35px;
        }
        .mobile-meta{
            display: none;
        }        
        .desktop-meta{
            width: 100%;
        }        
    }
    &.coin-table{
        top-coins, app-spinner{
            width: 80%;
            height: 50vh;
            overflow: auto;
        }        
        .hot-coin-section{
            width: 20%;
            cursor: pointer;
        }        
    }
}