.content-view{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .section{
        width: 100%;
        &.top-section{
            display: flex;
            flex-wrap: wrap;
            search-bar{
                // position: absolute;
                // left: 15px;
                // margin-top: 35px;
                width: 20%;
            }
            .mobile-meta{
                display: none;
            }        
            .desktop-meta{
                width: 80%;
            }        
        }
        &.coin-table{
            height: auto;
            overflow: hidden;
            top-coins, app-spinner{
                width: 80%;
                overflow: auto;
            }        
            top-coins{
                position: relative;
                bottom: 60px;
            }
            .hot-coin-section{
                width: 20%;
                cursor: pointer;
            }        
        }
    }
}