.section{
    &.top-section{
        search-bar{
            display: none;
        }    
    }
    &.coin-table{
        .header{
            display: none;
        }
        .hot-coin-section{
            display: none;
        }
        top-coins{
            width: 100%;
        }                            
    }
    &.all-coins{
        display: none;
    }
}