<div class="content-view">
  <div class="section top-section">
      <app-meta></app-meta>
      <search-bar></search-bar>
  </div>
  <div class="section coin-table">
    <h3 class="header">מטבעות מובילים</h3>
    <app-spinner *ngIf="!coins.length"></app-spinner>    
    <top-coins *ngIf="coins.length"></top-coins>
    <div class="hot-coin-section">
      <h3>חם עכשיו!</h3>
      <hot-coin></hot-coin>
    </div>      
  </div>
  <div class="section all-coins">
      <h1 class="action"><a href="#">הירשם</a> כדי להרכיב תיק מטבעות</h1>
      <h3 class="header">כל המטבעות</h3>
      <all-coins></all-coins>
    </div>    
</div>  