<div class="content-view">
  <div class="section top-section">
      <div class="mobile-meta" [@toggleMenu]="metaState">
        <div class="meta-toggle">
            <i class="material-icons" (click)="toggleMeta()" *ngIf="metaState === 'down'">expand_more</i>
            <i class="material-icons" (click)="toggleMeta()" *ngIf="metaState === 'up'">expand_less</i>
        </div>            
        <app-meta></app-meta>
      </div>      
      <div class="desktop-meta">
          <app-meta></app-meta>
      </div>
      <search-bar></search-bar>
  </div>
  <div class="section coin-table">
    <h3 class="header">מטבעות מובילים</h3>
    <app-spinner *ngIf="!coins.length"></app-spinner>    
    <top-coins *ngIf="coins.length"></top-coins>
    <div class="hot-coin-section">
      <h3>חם עכשיו!</h3>
      <hot-coin></hot-coin>
    </div>      
  </div>
</div>  