.cointainer{
    width: 100%;
    overflow: auto;
    min-height: 50vh;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    .navigation, .currencies{
        width: 50%;
    }
    .navigation{
        button{
            width: 110px;
            height: 42px;
            font-size: 14px;
            &.current{
                width: 42px;
            }
            i{
                position: relative;
                top: 1px;
            }
            span{
                position: relative;
                bottom: 6px;
            }
        }
    }
    app-spinner{
        position: relative;
        top: 50px;
    }
    .coins-table{
        &.mobile-table{
            display: none !important;
        }  
        display: table;
        width: 100%;
        .thead, .tbody{
            display: table-row-group;
            .tr{
                display: table-row;
                height: 64px;
                &:nth-child(even){
                    background-color: #fbfbfb;
                }
                .th, .td{
                    &.name{
                        width: 100px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    &:not(.th) {
                        &.last{
                            border-left: 1px solid $table-border-color;
                        }
                    }
                    &.td:nth-child(1){
                        border-right: 1px solid $table-border-color;
                    }                                
                }
            }
        }    
    }
}