.cointainer{
    width: 100%;
    overflow-x: auto;
    .coins-table{
        width: 100%;
        .tr{
            padding: 3px;
            font-size: 14px;
            height: 52px;
            .th, .td{
                &.rank{
                    border-left: 1px solid $app-color;
                }
                .coin_details{
                    .name{
                        padding: 5px;
                    }
                    .logo{}
                }            
            }
        }
        .thead{
            .tr{
                height: 24px;
                padding-top: 15px;
            }
        }
    }        
}