.cointainer{
    width: 100%;
    overflow: auto;
    min-height: 50vh;    
    .navigation, .currencies{
        width: 45%;
        display: inline-block;
        height: 42px;
        button{
            height: 32px;
            position: relative;
            left: 5px;
            i{
                position: relative;
                top: 1px;
            }
        }
    }
    .navigation{
        button{            
            width: 42px;
            font-size: 14px;
            &.current{
                width: 21px;
                margin: 5px 0px;
                span{
                    position: relative;
                    bottom: 6px;                    
                }                
            }
            &:not(.current){ 
                span{
                    display: none;
                }
            }
        }
    }    
    .coins-table{
        font-size: 12px;
        &.desktop-table{
            display: none !important;
        }        
        .thead, .tbody{
            display: flex;
            flex-wrap: wrap;            
            width: 100%;
            .fixed-wrapper{
                width: 107px;
                display: table-cell;
                border-left: 2px solid $app-color;
                .fixed{
                    width: 100%;
                }                
            }
            .scrolls-wrapper{
                display: table-cell;
                width: calc(100% - 110px);
                overflow: hidden;
                border-left: 1px solid $app-color;
                .scrolls{
                    width: 100%;
                    overflow: auto;
                }
                    
            }
            .tr{
                padding: 3px;
                height: 88px;
                &.header {
                    height: 42px;
                    .th{
                        top: 0;
                    }
                }                
                .th, .td{
                    min-width: 90px;
                    height:35px;
                    &.rank{
                        min-width: 0px;
                        max-width: 27px;
                        border-left: 1px solid $app-color;
                    }
                    &.details{
                        max-width: 90px;
                        .name{
                            font-size: 12px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }                        
                    }
                    &.logo{
                        min-width: 42px;
                    }
                }
            }
        }
    }        
}