.cointainer{
    .coins-table{
        &.desktop-table{
            display: none !important;
        }        
        .thead, .tbody{
            display: flex;
            flex-wrap: wrap;            
            width: 100%;
            .fixed-wrapper{
                width: 142px;
                display: table-cell;
                border-left: 2px solid $app-color;
                .fixed{
                    width: 100%;
                }                
            }
            .scrolls-wrapper{
                display: table-cell;
                width: calc(100% - 150px);
                overflow: hidden;
                border-left: 1px solid $app-color;
                .scrolls{
                    width: 100%;
                    overflow: auto;
                }
                    
            }
            .tr{
                padding: 3px;
                font-size: 14px;
                height: 88px;
                &.header {
                    height: 42px;
                    .th{
                        top: 0;
                    }
                }                
                .th, .td{
                    min-width: 80px;
                    height:35px;
                    &.rank{
                        min-width: 20px;
                        border-left: 1px solid $app-color;
                    }
                    &.logo{
                        min-width: 42px;
                    }
                }
            }
        }
    }        
}