@import '../../styles.scss';

@media (min-width: 1281px) {
    @import 'desktop';
}
@media (min-width: 1025px) and (max-width: 1280px) {
    @import 'desktop';
}
@media (min-width: 768px) and (max-width: 1024px) {
    @import 'desktop';
} 
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    @import 'mobile';
}
@media (min-width: 481px) and (max-width: 767px) {
    @import 'mobile';
}
@media (min-width: 320px) and (max-width: 480px) {
    @import 'mobile';
}
.cointainer{
    .coins-table{
        display: flex;
        flex-wrap: wrap;
        .thead, .tbody{
            width: 100%;
        }
        .tr{
            cursor: pointer;
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid $app-color;
            border-left: 1px solid $app-color;
            width: 100%;
            .th, .td{
                text-align: center;
                width: 10%;
                max-width: 10%;                
                .coin_details{
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    max-width: 200px;
                }
                .change{
                    direction: ltr;
                    width: 100%;
                    font-size: 14px;
                    display: table;
                    align-self: center;
                    .negative{
                        color: red;
                    }
                    .positive{
                        color: green;
                    }                
                }                        
            }    
        }
    }
}