.cointainer{
    height: 42vh;
    overflow: scroll;    
    .coins-table{
        margin: 0 auto;

        th, td{
            padding: 10px;
            text-align: center;
        }

        .coin_details{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            max-width: 200px;
            .change{
                direction: ltr;
                width: 20%;
                font-size: 14px;
                display: table;
                align-self: center;
                height: 100%;
                position: absolute;
            }
            .negative{
                color: red;
            }
            .positive{
                color: green;
            }
            .name{
                width: 100%;
                padding: 5px;
            }

            .logo{
                width: 100%;
            }
        }
    }
}