@import '../../styles.scss';

@media (min-width: 1281px) {
    @import 'desktop';
}
@media (min-width: 1025px) and (max-width: 1280px) {
    @import 'desktop';
}
@media (min-width: 768px) and (max-width: 1024px) {
    // @import 'desktop';
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    @import 'mobile';
}
@media (min-width: 481px) and (max-width: 767px) {
    @import 'mobile';
}
@media (min-width: 320px) and (max-width: 480px) {
    @import 'mobile';
}
.cointainer{
    .navigation{
        direction: ltr;
        text-align: left;        
        button{
            cursor: pointer;
            color: $app-color;
            background-color: white;
            &.current{
                cursor: default;
                border: none;
            }
        }
    }
    .coins-table{
        .thead, .tbody{
            .tr{
                display: table-row;
                cursor: pointer;
                border-bottom: 1px solid $app-color;
                .th, .td{
                    display: table-cell;
                    text-align: center;
                    vertical-align: middle;
                    padding: 5px;
                    border-bottom: 1px solid $app-color;
                    .change{
                        direction: ltr;
                        width: 100%;
                        font-size: 14px;
                        display: table;
                        align-self: center;
                        .negative{
                            color: red;
                        }
                        .positive{
                            color: green;
                        }                
                    }                        
                }    
            }                  
        }
    }
}