<div class="navigation mobile" [@slideInOut]="menuState">
    <search-bar></search-bar>
    <ul>
        <li *ngFor="let nav of nav_bar">
            <label [routerLink]="nav.path" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">{{ nav.name }}</label>
        </li>
    </ul>
</div>
<div class="navigation desktop">
    <ul>
        <li *ngFor="let nav of nav_bar">
            <label [routerLink]="nav.path" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">{{ nav.name }}</label>
        </li>
    </ul>
</div>