@import '../../styles.scss';

@media (min-width: 1281px) {
    @import 'desktop';
}
@media (min-width: 1025px) and (max-width: 1280px) {
    @import 'desktop';
}  
@media (min-width: 768px) and (max-width: 1024px) {
    // @import 'desktop';
} 
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    @import 'mobile';
}
@media (min-width: 481px) and (max-width: 767px) {
    @import 'mobile';
}
@media (min-width: 320px) and (max-width: 480px) {
    @import 'mobile';
}
.navigation {        
    ul{
        width: 100%;
        padding: 0;
        li{
            .active{
                color: $app-color-secondary;
            }
        }
    }        
}