.header{
    .hamburger{
        display: none;
    }

    .logo {
        width: 15%;
    }
    
    .navigation {
        width: 70%;
        
        span{
            padding: 5px;
            min-width: 100px;
            display: inline-block;
        }        
    }

    .account {
        cursor: pointer;
        width: 15%;
        span{
            position: relative;
            top: -5px;
        }        
    }    
}
