.header{
    .hamburger{
        display: none;
    }

    .logo {
        cursor: pointer;
        width: 15%;
        h1{}
        span{
            color: $app-color-secondary;
            font-size: 12px;
        }       
    }
    
    .account {
        cursor: pointer;
        width: 15%;
        span{
            position: relative;
            top: -5px;
        }        
    }    
}
