.header{
    .logo {
        width: 89%;
        display: flex;
        flex-wrap: wrap;
        text-align: right;
        h1{
            width: 100%;
            padding-right: 10px;
        }
        span{
            display: none;
        }
    }

    .hamburger{
        color: $app-color;
        cursor: pointer;
        width: 10%;
    }
    app-nav{
        width: 100%;
    }
    .account {
        display: none;
        span{
        }        
    }    
}
