@import '../../styles.scss';

.header{
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
    background-color: $app-color;
    font-family: "Impact, Charcoal, sans-serif";

    .logo {
        width: 15%;
        cursor: pointer;
        color: khaki;       
        span{
            color: lightgreen;
        }
    }
    
    .navigation {
        width: 70%;
        
        span{
            padding: 5px;
            cursor: pointer;
            font-size: 12px;
            min-width: 100px;
            display: inline-block;
            &:hover{
                font-weight: bold;
            }            
        }        
    }

    .account {
        cursor: pointer;
        width: 15%;
        span{
            position: relative;
            top: -5px;
        }        
    }    
}
